<div *ngIf="cartItems.length > 0; else emptyCart">
  <h2>Résumé de la commande</h2>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Produit</th>
      <th>Quantité</th>
      <th>Prix Unitaire</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cartItems">
      <td>{{ item.product.title }}</td>
      <td>{{ item.qte }}</td>
      <td>{{ item.product.price }} DH</td>
      <td>{{ item.qte * item.product.price }} DH</td>
    </tr>
    </tbody>
  </table>

  <p><strong>Total : {{ totalPrice }} DH</strong></p>

  <button class="btn btn-success" (click)="confirmOrder()">Confirmer la commande</button>
</div>

<ng-template #emptyCart>
  <p>Votre panier est vide.</p>
</ng-template>

